<html>

<head>
<title>Documents index</title>
</head>

<body>

Hi ${account.email}!

<p>

OWNED DOCUMENTS:

<ul>
%{
	for(doc in ownedDocuments) { 
}%
     <li>${doc.name}
     <ul>
%{
	for(tag in doc.tags) { 
}%
     <li>${tag.value}</li>
%{
     }
}%     
     </ul>
     </li>
%{
     }
}%
</ul>

<p>

OTHER DOCUMENTS:

<ul>
%{
	for(doc in otherDocuments) { 
}%
     <li>${doc.name}
     <ul>
%{
	for(tag in doc.tags) { 
}%
     <li>${tag.value}</li>
%{
     }
}%     
     </ul>
     </li>
%{
     }
}%
</ul>

<p>

<form action="@{Documents.create()}" enctype="multipart/form-data" method="post">
       Upload a new file: <input type="file" name="file">
       <p>
       <input type="submit">
       <p>
</form>

<p>

<a href="/disconnect">Logout</a>

</body>

</html>